# .gitignore

# Ignore .env files
.env
.env.*
!.env.example

# Node modules and dependencies
**/node_modules/

# Next.js build output
**/.next/
/out/

# TypeScript build output
/dist/
/tsconfig.tsbuildinfo
*.tsbuildinfo

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Temporary files
*.swp
*.swo
*.swn
*.tmp
*.temp

# Editor and OS specific files
.idea/
.vscode/
.DS_Store
*.bak
*.sublime*
Thumbs.db
.directory